<a href="https://colab.research.google.com/github/VimalChamyal/Python-for-Data-Analysis/blob/main/Getting_Started_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Program & Programing Language:**

A set of instructions to be executed by a
computer to carry out a specific task is called a program

The language used to specify the set of instructions to the computer is called a programming language.

**Machine Language:**

We know that computers understand the language
of 0s and 1s which is called machine language or **low
level** language.

The program written in a high-level language is called
source code. (This is something that we write/code. For example: Python code written by us to solve a particular problem)

**Interpreter**

Python uses an interpreter to convert its instructions
into machine language, so that it can be understood
by the computer.


**How an interpreter works ?**

An *interpreter processes the program
statements one by one*, first translating and then
executing.

This process is continued until an error
is encountered or the whole program is executed
successfully.

In both the cases, program execution
will stop.

**Features of Python**

1. Python is a high level language. It is a free and
open source language.

2. It is an interpreted language, as Python programs
are executed by an interpreter.

3. Python programs are easy to understand as
they have a clearly defined syntax and relatively
simple structure.

4. Python is case-sensitive. For example, NUMBER
and number are not same in Python.

5. Python is portable and platform independent,
means it can run on various operating systems and
hardware platforms.

6. Python has a rich library of predefined functions.

7. Python is also helpful in web development. Many
popular web services and applications are built
using Python.

8. Python uses indentation for blocks.

**Variables**

Variable in Python refers to an object — an
item or element that is stored in the memory.

**Keywords in Python**

Keywords are reserved words.

Each keyword has a specific meaning to the Python interpreter, and we can
use a keyword in our program only for the purpose for
which it has been defined.

Hence the keywords can't be used to name a variable.

Examples of a few reserve keywords:
1. def - Used to define a function
2. if - Used to write a conditional statement
3. else - Same as above
4. True - It's a boolean
5. class - To create a class (OOPS concept)
6. for - for loop
7. while - while loop

**Comments in Python**

Comments are used to add a remark or a note in the
source code.

They are added with the purpose of making the source
code easier for humans to understand.

In Python, **a comment starts with # (hash sign)**.
Everything *following the # till the end of that line is
treated as a comment* and the interpreter simply ignores
it while executing the statement.

**Program 1**: Write a program to show print statement

In [3]:
print("I am a student")

# The print funtion is used to show the output.
# Inside the print function we pass whatever we want to see as the output

I am a student

In [5]:
my_name = 'Vimal'

print("My name is", my_name)

My name is Vimal

**Program 2:** Write a program to display values of
variables in Python.

In [6]:
price = 778
# The value 778 has been assigned to a variable named price

print(price)
# To see the value of assigned to the 'price' varible in the output

778

In [87]:
type(price)

int

In [7]:
gender = 'Male'
print(gender)

Male

In [8]:
IMDB_rating = 8.1
print(IMDB_rating)

8.1

**Program 3:** Write a Python program to find the area
of a rectangle given that its length is **40
units** and breadth is **20 units**

In [14]:
length = 40
breadth = 20

area = length * breadth
# In the above line '*' is the multiplication operator.

print(area)

800

**Concatenation**

Concatenation means adding together.

Refer to the examples below for the clarity

In [29]:
print("I" + "love" + "my" + "country" + "India")

IlovemycountryIndia

**Way 1:** Jugaad

In [33]:
print("I " + "love " + "my " + "country" + " India")

# We have added spaces in each string to add the spaces in the output as well

I love my country India

**Way 2:** Using commas (,) between the strings

In [36]:
print("I", "love", "my", "country", "India")
# Here we are passing multiple arguments, separated by commas to the print function.

I love my country India

**Note:**

In case the print statement has values of different types and ‘+’ is used instead of comma, it will generate an error

The error is discussed in the explicit conversion section

**Operators in Python**

An operator is used to perform specific mathematical or logical operation on values.

In the expression 10 + num, the value 10, and the variable num are operands and the + (plus) sign is an operator

1. Arithmetic Operators
2. Relational Operators
3. Assignment Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

**Arithematic Operators:**

Arithmetic operators are used to perform the four basic (+,-,*,/) arithmetic operations as well as modular division, floor division and exponentiation.

Addition/Subtraction

In [41]:
num1 = 5
num2 = 6

num1 + num2

11

In [44]:
str1 = "Hello"
str2 = "India"

str1 + str2

#  Addition operator can also be used to concatenate two strings on either side of the operator

'HelloIndia'

Mulitplication

In [45]:
num1 = 5
num2 = 6

num1 * num2

30

In [47]:
str1 = "Hello"

str1 * 2
# Repeats the item on left of the operator if first operand is a string and second operand is an integer value

'HelloHello'

Division

In [48]:
num1 = 13
num2 = 2

num3 = num1/num2
num3

6.5

Floor Division

In [51]:
num1 = 13
num2 = 2

num3 = num1//num2
# Divides the operand on the left by the operand on the right and returns the quotient by removing the decimal part.
# It is sometimes also called integer division.

num3

6

Modulus

In [55]:
num1 = 13
num2 = 5

num3 = num1 % num2
# Returns the remainder

num3

3

Exponent

In [57]:
num1 = 15
num2 = 2

num3 = num1 ** num2
# Returns the exponential (power) calculation on operands.

num3

225

**Relational Operators:**

Relational operator compares the values of the operands on its either side and determines the relationship among them.

In [64]:
num1 = 10
num2 = 0
num3 = 10
str1 = "Good"
str2 = "Afternoon"

In [60]:
num1 == num2

# If the values of two operands are equal, then the condition is True, otherwise it is False

False

In [65]:
num1 != num2
# If values of two operands are not equal, then condition is True, otherwise it is False

True

In [66]:
num1 != num3

False

In [67]:
num1 > num2

True

In [68]:
num1 >= num2

# Greater than or equal to

True

In [69]:
num1 <= num2

False

**Assignment Operators:**

Assignment operator assigns or changes the value of the variable on its left.

In [72]:
num1 = 2
num2 = num1
# Assigns value from right-side operand to left side operand

num2

2

In [71]:
country = 'India'
country

'India'

+= adds the value of right-side operand to the
left-side operand and assigns the result to the
left-side operand

Note: x += y is same as x = x + y

In [75]:
num1 = 10
num2 = 2

num1 = num1 + num2

num1

12

In [76]:
num1 = 10
num2 = 2

num1 += num2
# x += y is same as x = x + y

num1

12

In [77]:
str1 = 'Hello'
str2 = 'India'

str1 += str2
str1

'HelloIndia'

In [78]:
num1 = 10
num2 = 2

num1 -= num2
# x -= y is same as x = x - y

num1

8

In [79]:
num1 = 2
num2 = 3

num1 *= 3
# x *= y is same as x = x * y

num1

6

In [80]:
a = 'India'
a *= 3

a

'IndiaIndiaIndia'

In [82]:
num1 = 2
num2 = 3

num1 **= 3
# x **= y is same as x = x ** y

num1

8

**Logical Operators:**

There are three logical operators supported by Python.
These operators (and, or, not) are to be written in lower case only.

The logical operator evaluates to either True or False based on the logical operands on either side.

In [83]:
True and True

True

In [84]:
False and True

False

In [85]:
False and False

False

In [86]:
False or True

True

**Identity Operators:**

Identity operators are used to determine **whether the value of a variable is of a certain type or not. **

Identity operators can also be used to determine whether two variables are referring to the same object or not.

1. is
2. is not

In [88]:
num1 = 10

type(num1) is float

False

In [89]:
num2 = num1

In [92]:
num1 is num2

# Above line is same as num1 == num2

True

In [93]:
num1 is not num2

False

**Membership Operators:**

Membership operators are used to check if a value is a
member of the given sequence or not.

1. in
2. not in

**Note:** We'll see it in action once we dive into sequence data types

**Taking input from the user**

Sometimes, a program needs to interact with the user’s
to get some input data or information from the end user
and process it to give the desired output.

In Python, we have the input() function for taking the user input.

The input() function prompts the user to enter data.

In [16]:
fname = input("Enter your first name: ")

Enter your first name: Vimal

In [23]:
profession = input("Please enter your profession: ")

Please enter your profession: student

In [24]:
org = input("Please enter the name of the organization you're associated with: ")

Please enter the name of the organization you're associated with: SOLA, IIT Jodhpur

In [25]:
print(fname, "is a", profession, "at", org)

Vimal is a student at SOLA, IIT Jodhpur

**Type Conversion**

 Consider the following program:

In [38]:
 num1 = input("Enter a number and I'll double it: ")
 num1 = num1 * 2

 print(num1)

Enter a number and I'll double it: 2
22

The program was expected to display double the value of the number received and store in variable num1.

Which means that if a user enters 2 and expects the program to display 4 as the output, but the program displays 22

This is because the **value returned by the input function is a string** ("2") by default.

As a result, in statement num1 = num1 * 2, num1 has string value and * acts as repetition operator which results in output as "22". To get 4 as output, we need to convert the data type of the value entered by the user to integer.

Thus, we modify the program as follows:

In [39]:
num1 = input("Enter a number and I'll double it: ")

num1 = int(num1)
#convert string input to integer

num1 = num1 * 2
print(num1)

Enter a number and I'll double it: 2
4

**Program 4**: Write a Python program to convert a given tempreture in Celsius (°C) to Farenheit (°F).

(Hint: T(°F) = T(°C) × 9/5 + 32)

Note: Take the input from the user (for the tempreture in celsius)

In [28]:
temp_c = int(input('Please enter the tempreture in Celsius: '))

temp_f = temp_c * 9/5 + 32

print(temp_c, "degree celsius is", temp_f, "degree farenheit")

Please enter the tempreture in Celsius: 40
40 degree celsius is 104.0 degree farenheit

**Bonus:** Instead of '200' as the output, we need the below line as the output.

'The area of the rectangle that has length 10 and breadth 20 has the area 200'

In [15]:
print('The area of the rectange that has length: ' + str(length) +' and breadth: ' + str(breadth) + ' has the area: ' + str(area))

The area of the rectange that has length: 40 and breadth: 20 has the area: 800